<!DOCTYPE html>
<html lang="en">
<head>
    <% include head %>
</head>
<body class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">WEBBOOK</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="/">HOME</a></li>
            <li><a href="/books.ejs">BOOKS</a></li>
            <li  class="active"><a href="/authors.ejs">AUTHORS</a></li>
          </ul>
        </div>
      </nav>
<main>
    <div class="table-responsive">          
        <table class="table">
          <tbody>
              <tr>
                  <td>ID:</td>
                  <td><%= data[0].id %></td>
              </tr>
              <tr>
                  <td>NAME:</td>
                  <td><%= data[0].name %></td>
              </tr>
              <tr>
                    <td>ABOUT:</td>
                    <td>:<%= data[0].about %></td>
              </tr>
              <tr>
                    <td>PLACE:</td>
                    <td><%= data[0].place %></td>
              </tr>
              <tr>
                <td>BOOKS:</td>
                <td><% for(let i=0; i < data.length; i++) { %>
                    <p><a href="/bookisbn/<%=data[i].isbn %>"><%=  data[i].title %></a></p>
                    <% } %>
                </td>
              </tr>
          </tbody>
        </table>
        </div>
      </div>
</main>
</body>
</html>