<!DOCTYPE html>
<html lang="en">

<head>
    <% include head %>
</head>

<body class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">WEBBOOK</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="./">HOME</a></li>
                <li class="active"><a href="./books.ejs">BOOKS</a></li>
                <li><a href="./authors.ejs">AUTHORS</a></li>
            </ul>
        </div>
    </nav>
    <main>
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <% for (let i = 0; i < data.length; i += 1) { %>
                    <tr>
                        <td style="padding-top: 80px;">
                            <%= i+1 %> 
                        </td>
                        <td>
                            <img src="<%= data[i].imgsrc %>">
                        </td>
                        <td style="margin-left:10px;">
                            <table>
                                <tr>
                                   
                                    <td>
                                        ISBN
                                    </td>
                                    <td>
                                        :<%=data[i].isbn %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        TITLE
                                    </td>
                                    <td>
                                        <a href="bookisbn/<%=data[i].isbn %>">:<%=data[i].title %></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        AUTHOR
                                    </td>
                                    <td>
                                        <a href="author/<%=data[i].author_id%>"><%=data[i].author %></a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <%  } %>
                </tbody>
            </table>
        </div>
        </div>
    </main>
</body>
</html>