<!DOCTYPE html>
<html lang="en">

<head>
    <% include head %>
</head>

<body class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">WEBBOOK</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/home">HOME</a></li>
                <li class="active"><a href="/books">BOOKS</a></li>
                <li><a href="/authors">AUTHORS</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout">Log out</a></li>
            </ul>
        </div>
    </nav>
    <main>
           <div class="table-responsive">          
                <table class="table">
                  <tbody>
                      <tr><td><img src="<%= data[0].imgsrc%>"></td></tr>
                      <tr>
                          <td>ISBN</td>
                          <td><%= data[0].isbn%></td>
                      </tr>
                      <tr>
                            <td>TITLE</td>
                            <td><%= data[0].title%></td>
                      </tr>
                      <tr>
                            <td>SUBTITLE</td>
                            <td><%= data[0].subtitle%></td>
                      </tr>
                      <tr>
                            <td>AUTHOR</td>
                            <td><a href="/author/<%= data[0].author_id%>"><%= data[0].name%></a></td>
                      </tr>
                      <tr>
                            <td>PUBLISHER</td>
                            <td><%= data[0].publisher%></td>
                       </tr>
                       <tr>
                            <td>PAGES</td>
                            <td><%= data[0].pages%></td>
                       </tr>
                       <tr>
                            <td>DESCRIPTION</td>
                            <td><%= data[0].description%></td>
                       </tr>
                       <tr>
                            <td>RATING</td>
                            <td><%= rating %></td>
                       </tr>
                       <tr>
                            <td>TOTAL RATINGS</td>
                            <td><%= totalRatings%></td>
                       </tr>
                  </tbody>
                </table>
                </div>
              </div>
    </main>
</body>
</html>